*{
    margin: 0;
    padding: 0;
}
canvas{
    background: pink;
    /* margin: 10px auto; */
    display: block;/*这一句有用 */
}
div#actions{
    position: fixed;
    left: 0px;
    top: 0px;
}
.action>#brush{
    display: none;
}
.action.x>#brush{
    display: inline-block;
}
.action.x>#eraser{
    display: none;
}